html, body {
    height: 100%;
    color: #61DAFB;
    background: white;
}

.App {
    width: 600px;
    margin: 0 auto;
    text-align: left;
}

.list-group-item {
    background: #ffffff;
    padding: 10px;
}

.list-group-item:first-child {
    border-radius: 10px 10px 0 0;
}

.list-group-item:last-child {
    border-radius: 0 0 10px 10px;
}

.group-button {
    float: right;
}

.edit {
    float: left;
    background: none;
    border: none;
}

.close {
    float: right;
    background: none;
    border: none;
}

li:hover {
    background-color: #F5F5F5;
}

.icon {
    margin: 6px 10px 6px 0;
}

ul {
    list-style: none;
}

.undone {
    color: #61DAFB;
}

.create-task {
    width: 300px;
    margin: 0 auto;
}
.create-task * {
    border-radius: 4px;
}
